 <!DOCTYPE html>
<html>
    <head>
        <title>MyApp</title>
    </head>
    <body>

        <form action = "{{url_for('hello2.test')}}" method="POST">
            <select name="test">
                <option value="index10">index10</option>
                <option value="index100">index100</option>
                <option value="index200">index200</option>
                <option value="index300">index300</option>
                <option value="index400">index400</option>
                <option value="index500">index500</option>
                <option value="index600">index600</option>
                <option value="index700">index700</option>
                <option value="index800">index800</option>
                <option value="index900">index900</option>
          </select>
          <br><br>
          <input type = "text" name = "test1" />
          <br><br>
          <input type="submit" value = "submit">
        </form>

    </body>
</html> 
